<ion-content>

  <ion-icon (click)="irHome()" name="arrow-back-outline"></ion-icon>  
  
  
    <img id="eliminar" class="sombra" (click)="mostrarAlert(tarea)" src="assets/icon/onepiece.png">
  
  
     
    <ion-icon *ngIf="mostrar; else datetime" class="derecha" (click)="cambiarNotificar()" color="danger" name="notifications-outline"></ion-icon>     

    <ng-template #datetime>        
      <ion-item>
        <ion-label>D MMM YYYY H:mm</ion-label>
        <ion-datetime (ionChange)="crearNotificacion($event)" displayFormat="D MMM YYYY H:mm" min="2020" max="2030" value="{{hora}}"></ion-datetime>
      </ion-item>
    </ng-template>
     

  <ion-avatar id="avatar">      
    <img src="assets/avatar/{{tarea.avatar}}.jpg">
  </ion-avatar>

  <div id="titulo">{{tarea.titulo.toUpperCase()}}</div>

  <ion-card> 
    <ion-label>{{tarea.fecha}}</ion-label>

    <ng-container *ngIf="editar; else editarTarea">
      <ion-card-content>
        {{tarea.detalle}}
      </ion-card-content>
    </ng-container>

    <ng-template #editarTarea>
      <ion-item-group>

        <ion-item>
          <ion-label position="floating">Nombre Tarea</ion-label>
          <ion-input [(ngModel)]="tarea.titulo" placeholder="..."></ion-input>
        </ion-item>  
    
        <ion-item>
          <ion-label position="floating">Detalles</ion-label>
          <ion-textarea [(ngModel)]="tarea.detalle" rows="5" placeholder="..."></ion-textarea>
        </ion-item>

      </ion-item-group>
    </ng-template>

    
  </ion-card>

  <!-- BOTON EDITAR -->
  <ng-container *ngIf="editar; else editarBoton">    
      <ion-icon class="centrar" (click)="cambioEditar()" name="create-outline"></ion-icon>        
  </ng-container>

  <ng-template #editarBoton>
    <ion-icon class="guardar" (click)="guardarEditar()" color="success" name="save-outline"></ion-icon>
    <ion-icon class="cancel" (click)="cancelarEditar()" color="danger" name="close-outline"></ion-icon>
  </ng-template>
  
</ion-content>
