<ion-header [translucent]="true"> 
      <img src="assets/imagenes/tokyo-babylon.jpg" alt="tokyo-babylon">  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="irAgregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>  
  </ion-fab>
  
  <br>

  <ion-chip *ngFor="let tarea of arregloTareas" [class]="tarea.colorChip">
    <ion-avatar (click)="cambiarColor(tarea)">      
      <img src="assets/avatar/{{tarea.avatar}}.jpg">
    </ion-avatar>
    <ion-title (click)="verCompleto(tarea)">{{tarea.titulo.substring(0,14)}}</ion-title>
    <ion-icon (click)="irDetalles(tarea)" name="caret-forward-outline"></ion-icon>
  </ion-chip>

  

</ion-content>
