<ion-header [translucent]="true"> 
      <img src="assets/imagenes/tokyo-babylon.jpg" alt="tokyo-babylon">  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="irDetalles()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>  
  </ion-fab>
  
  <br>

  <ion-chip>
    <ion-avatar>
      <img src="assets/avatar/naruto.jpeg">
    </ion-avatar>
    <ion-title>Kit Bishop</ion-title>
    <ion-icon name="caret-forward-outline"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-avatar>
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-title>Kit Bishop</ion-title>
  </ion-chip>

</ion-content>
